@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  text-align: center;
  color: #4181ee;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  max-width: 300px;
  min-height: 250px;
  background: #0276b8;
  padding: 30px;
  border-radius: 3px;
  box-sizing: border-box;
  color: #fff;
  margin: 20px;
  box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px,
    rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}




.card-image{
     
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 10px;
    border: 2px solid rgb(255, 245, 245);

    border-radius: 50%;


}

.card-title {
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-align: center;
    color: rgb(244, 247, 247);
    letter-spacing: 0.5px;
    margin-top: 5px;
  }

.card-content {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: .5;
  text-align: center;
  font-weight: 700;
 

}

.card-details{

     text-align:center;
     font-size: 15px;
     
     
}

.social-display-btn{

     display: flex;
     flex-direction: column;
     display: block;
     margin-left: auto;
     margin-right: auto;
   
}

.projects_details{

   display: flex;
   margin: 10px;
   gap: 20px;
   text-align: center;
}

.projects_details>.details>p{

    font-size: 20px;
    font-weight: 600;
}


.button_add{

   display: flex;
   justify-content: space-between;
   margin-bottom: 13px;
   
}

.button_add>button{

    padding: 15px;
    
}

.button_add>.follow_button{

   color: rgb(41, 40, 40);
   font-weight: 700;
   letter-spacing: 0.2;
   font-size: 1rem;
   border-radius: 8px;
   border: none;
   transition: .8s ease-in-out;
   cursor: pointer;
}

.button_add>.follow_button:hover{

  color: #fff;
  background-color: rgb(41, 40, 40);
}

.button_add>.hrie_button{

  color: #fff;
  font-weight: 700;
  letter-spacing: 0.2;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-color: rgb(41, 40, 40);
  transition: .8s ease-in-out;
  cursor: pointer;
}

.button_add>.hrie_button:hover{

  color: rgb(41, 40, 40);
  background-color: #fff;

}



